.incidentList h2 {
    font-size: 1em;
}

.incidentList ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 10px;
    font-size: 0.8em;
}

.incidentList ul li h2,
.incidentList ul li p {
    margin: 0;
}

/* Remove the blue border around InfoWindow close buttons. */
button.gm-ui-hover-effect:focus {
    outline: none;
}
